*{
    text-align: left;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

section{
    padding: 50px;
}

@media (max-width: 5200px){
    body{
        margin-left: 200px;
        margin-right: 200px;
    }

    .placasgrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px;
        padding: 10px;
        margin: 0 auto;
        grid-gap: 20px;
    }

    .placasgrid > div{
        width: 300px;
    }

    /*

    NÃO ACHEI QUE FICOU LEGAL

    .placasgrid > div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 250px;
        align-items: center;
        padding-top: 50px;
    }

    .placasgrid > div > p.tituloplaca{
        grid-column: 1/3;
    }

    .placasgrid > div > img{
        grid-column: 1;
        padding-top: 5px;
    }

    .placasgrid > div > p.textoplaca{
        grid-column: 2;
        padding-top: 5px;
    }
    */
}

@media (max-width: 600px){
    body{
        margin-left: auto;
        margin-right: auto;
    }

    .placasgrid{
        display: block;
        align-items: center;
        text-align: center;
    }
}